/* Regole Generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

    /* clearfix */
main section::after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-height:  100%;
    float: left;
}


/* regole head */



h1 {
    text-align: center;
    color: rgb(250, 68, 114);
    padding: 30px;
}

/* regole main */
article{
    margin: 0 auto;
    width: 65%;
    text-align: center;
    padding: 20px 0;
   
}

.row{
    width: 65%;
    margin: 0px auto;
}


.col {

    width: calc(100% /3);
    float: left;
    
}

.label {
    background-color: black;
    width: 92%;
    height: 95px;
    margin: 20px auto;
}

h3 {
    color: white;
    padding: 6px;
    margin-left: 6px;
}

span {
    color: white;
    margin-left: 12px;
}

a {
    display: block;
    margin-left: 12px;
    color: aqua;
    text-decoration: none;
}

.content {
    overflow: hidden;
    max-height: 100%;
}